*.a
*.bundle
*.dll
*.dylib
*.dylib.E
*.exe
*.exp
*.lib
*.o
*.obj
*.pdb
*.res
*.sl
*.so
.fslckout
Makefile
autom4te.cache
config.cache
config.log
config.status
config.status.lineno
html
manifest.uuid
_FOSSIL_
itkConfig.sh
pkgIndex.tcl
versions.vc
version.vc
libitk.vfs
libitk_*.zip
html
win/nmakehlp.out
win/nmhlp-out.txt
